/* [project]/src/assets/css/module-css/contact.css [app-client] (css) */
.contact-page {
  background: var(--thm-white);
  z-index: 1;
  padding: 120px 0;
  display: block;
  position: relative;
}

.contact-page .shape1 {
  opacity: .1;
  z-index: -1;
  position: absolute;
  top: 155px;
  left: 0;
}

.contact-page .shape2 {
  opacity: .6;
  z-index: -1;
  position: absolute;
  bottom: 110px;
  right: 50px;
}

.contact-page__contact-info {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 50px 40px 51px;
  display: block;
  position: relative;
}

.contact-page__contact-info .sec-title-style3 {
  padding-bottom: 45px;
}

.contact-page__contact-info .sec-title-style3 h2 {
  font-size: 36px;
}

.contact-page__contact-info ul {
  display: block;
  position: relative;
}

.contact-page__contact-info ul li {
  align-items: center;
  margin-bottom: 38px;
  display: flex;
  position: relative;
}

.contact-page__contact-info ul li:last-child {
  margin-bottom: 0;
}

.contact-page__contact-info ul li .icon-box {
  z-index: 1;
  background: none;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  position: relative;
}

.contact-page__contact-info ul li .icon-box span {
  color: var(--thm-black);
  font-size: 30px;
  line-height: 30px;
  transition: all .5s;
  display: inline-block;
  position: relative;
}

.contact-page__contact-info ul li:hover .icon-box span {
  transform: rotateY(180deg);
}

.contact-page__contact-info ul li .text-box {
  width: 100%;
  margin-left: 20px;
  display: block;
  position: relative;
}

.contact-page__contact-info ul li .text-box p {
  text-transform: capitalize;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.contact-page__contact-info ul li .text-box h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

.contact-page__contact-info ul li .text-box h2 a {
  color: var(--thm-black);
}

.contact-page__contact-info ul li .text-box h2 a:before {
  content: "";
  background-color: var(--thm-black);
  width: 0%;
  height: 2px;
  transition: all .5s;
  position: absolute;
  bottom: 3px;
  left: 0;
}

.contact-page__contact-info ul li .text-box h2 a:hover:before {
  width: 100%;
}

.contact-page__form-box {
  background: #f7f7f7;
  border-radius: 4px;
  margin-left: 46px;
  padding: 49px 50px 50px;
  display: block;
  position: relative;
}

.contact-page__form-box .title {
  margin-bottom: 33px;
  display: block;
  position: relative;
}

.contact-page__form-box .title h2 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
}

.contact-page__form-box #contact-form input[type="text"], .contact-page__form-box #contact-form input[type="number"], .contact-page__form-box #contact-form input[type="email"] {
  color: #60666c99;
  background: var(--thm-white);
}

.contact-page__form-box #contact-form textarea {
  color: #60666c99;
  background: var(--thm-white);
  height: 150px;
  margin-bottom: 11px;
}

.contact-page__form-box-text {
  margin-top: 42px;
  display: block;
  position: relative;
}

.contact-page__form-box-text p {
  margin: 0;
  font-weight: 500;
}

.contact-page__form-box-text p span {
  color: var(--thm-black);
  font-weight: 600;
}

.google-map-two {
  z-index: 1;
  display: block;
  position: relative;
}

.google-map-two__map {
  border: none;
  width: 100%;
  height: 615px;
  display: block;
  position: relative;
}

/*# sourceMappingURL=src_assets_css_module-css_contact_css_bad6b30c._.single.css.map*/