/* [project]/src/assets/css/react-adjustment.css [app-client] (css) */
#home-one .search-popup__overlay {
  background: #0d4250;
}

#home-two .search-popup__overlay {
  background-color: #121213;
}

.mobile-menu-open {
  right: 300px;
}

.rotate {
  transition: all .3s linear;
  transform: rotate(360deg);
}

.sub-menu {
  display: block !important;
}

.mobile-menu .navigation li {
  background-color: #fff !important;
}

.main-slider-one #main-slider-pagination {
  align-items: center;
  gap: 15px !important;
}

.main-slider-one .main-slider__nav {
  gap: 20px;
}

.swiper-btn {
  z-index: 5;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 87px;
  left: 49px;
}

.main-slider-three__single .bottom-text-box {
  z-index: 5;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 87px;
}

.main-slider__nav {
  gap: 20px !important;
}

.custom-swiper {
  flex-direction: row;
  gap: 10px;
  width: 180px;
  padding-right: 10px;
  display: flex;
  top: auto;
  bottom: 80px;
  left: 85px;
  transform: translateY(0%);
}

span.swiper-pagination-bullet {
  margin-left: 10px !important;
}

.main-slider-three .swiper-pagination {
  flex-direction: row;
  width: 180px;
  margin-top: 1rem;
  padding-right: 10px;
  display: flex;
  top: auto;
  bottom: 80px;
  left: 0;
  transform: translateY(0%);
}

.extra-select-box {
  z-index: 99999 !important;
}

#select-box-one .ss-qbdosj-Input input {
  color: #000 !important;
  margin: -6px 0 !important;
}

.extra-btn-z-index, .fact-counter-two, .services-two {
  z-index: 0 !important;
}

.request-services-one--two .select-box .selectmenu, .select-box .selectmenu {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: var(--thm-body-font);
  color: var(--thm-white);
  border: 1px solid rgba(var(--thm-primary-rgb), .1);
  background-color: #0000;
  border-radius: 4px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  transition: all .5s;
  display: block;
  position: relative;
}

.request-services-one--two option {
  color: var(--thm-white);
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: var(--thm-body-font);
  appearance: none;
  background-color: #ffd550;
  border-radius: 4px;
  outline: none;
  transition: all .5s;
  padding: 20px !important;
}

.request-services-one--two .selectmenu option:hover {
  background-color: #000 !important;
}

.request-services-one--two .option:hover {
  color: #fff;
  background-color: var(--thm-black) !important;
}

span.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-1jqq78o-placeholder {
  color: gray;
  box-sizing: border-box;
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
}

.css-1xc3v61-indicatorContainer {
  color: #ccc;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 0;
  transition: color .15s;
  display: flex;
}

.css-1fuffzm-control {
  cursor: default;
  -webkit-box-flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #0000;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  transition: all .5s;
  display: flex;
  position: relative;
  height: 46px !important;
}

.css-1xc3v61-indicatorContainer:before {
  margin-bottom: 0 !important;
}

.css-1kh12rp-control:hover {
  border-color: #0000 !important;
}

.css-1nmdiq5-menu {
  background: none !important;
  border-radius: 8px !important;
  margin: 0 !important;
}

.css-qbdosj-Input, .css-19bb58m {
  margin: -6px 0 !important;
}

.css-1dimb5e-singleValue {
  color: #eaece8 !important;
}

#select-box-one .css-1dimb5e-singleValue {
  color: #9eb3b9 !important;
}

.css-viloxa-control {
  cursor: default;
  -webkit-box-flex-wrap: wrap;
  box-sizing: border-box;
  color: #fff;
  background-color: #0000;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  outline: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  transition: all .5s;
  display: flex;
  position: relative;
  border: 1px solid #ffd5501a !important;
}

.submit-btn-extra {
  z-index: 0 !important;
}

body.disable-scroll {
  overflow: hidden;
}

.testimonials-one, .request-services-one--two {
  z-index: 0;
}

.popup-video {
  background-color: #0b0b0bcc;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999 !important;
}

.video-one__video-btn, .video-btn, .about-two__video-icon, .request-services-one__video-icon, .faq-three__video-icon {
  cursor: pointer;
}

.video-wrapper {
  border: 5px dashed #000000b3;
  width: 900px;
  max-width: 900px;
  height: 510px;
  position: relative;
  z-index: 999999 !important;
}

.video-wrapper #youtube-video {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .video-wrapper {
    width: 70%;
    height: 450px;
  }
}

@media (max-width: 1024px) {
  .video-wrapper {
    height: 350px;
  }
}

@media (max-width: 780px) {
  .video-wrapper {
    height: 300px;
  }
}

@media (max-width: 560px) {
  .video-wrapper {
    height: 170px;
  }
}

.popup {
  display: flex;
}

.popdown {
  display: none;
}

.mfp-close {
  color: #fff;
  text-align: center;
  background-color: #0000;
  border: 2px solid #000000b3;
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  position: absolute;
  top: -45px;
  right: -5px;
}

@media (max-width: 1024px) {
  .mfp-close {
    width: 35px;
    height: 35px;
    font-size: 24px;
    top: -40px;
  }
}

.request-services-one .select-box .selectmenu, .request-services-one .select-box .selectmenu option {
  background-color: var(--thm-white);
  width: 100%;
  height: 50px;
  color: var(--thm-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: var(--thm-body-font);
  border: none;
  border-radius: 4px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  transition: all .5s;
  display: block;
  position: relative;
}

.about-one__img .btn-box {
  z-index: 5;
  display: block;
  position: absolute;
  bottom: -80px;
  right: -40px;
}

.about-one__img-icon-box:before {
  content: "";
  z-index: -1;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: absolute;
  top: -35px;
  right: -35px;
  background-color: var(--thm-secondary) !important;
}

.circleWrap1 {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.circleWrap1 svg {
  z-index: 10;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: 15s linear infinite rotate;
  position: absolute;
  top: calc(50% - 65px);
  left: calc(50% - 110px);
  overflow: hidden;
}

.circleWrap1 .circle-text1 {
  letter-spacing: 1.5px;
  color: #ffd550;
  width: 100%;
  font: 85px / 30px times;
}

.about-one__img-icon-box .read-more {
  text-align: center;
  cursor: pointer;
  width: 90px;
  height: 90px;
  color: var(--thm-secondary);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  font-family: var(--thm-body-font);
  z-index: 30;
  border-radius: 50%;
  position: relative;
  background-color: #ffd550 !important;
}

.about-one__img-icon-box .read-more:hover {
  color: var(--thm-secondary);
  background: #ffd550 !important;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .about-one__img .btn-box {
    bottom: 0;
    right: 10%;
  }
}

@media (max-width: 766px) {
  .about-one__img .btn-box {
    display: none;
  }
}

.about-two .about-three__img-icon-box:before {
  content: "";
  z-index: -1;
  background-color: #0000;
  border-radius: 50%;
  width: 165.184px;
  height: 165.184px;
  position: absolute;
  top: -100px;
  left: -17px;
}

.about-two .about-three__img-icon-box .icon {
  background: #011c39;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  display: flex;
  position: relative;
  top: -65px !important;
  left: 20px !important;
}

.about-two .circleWrap3 {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.about-two .circleWrap3 svg {
  z-index: 10;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: 15s linear infinite rotate;
  position: absolute;
  top: calc(50% - 100.88px);
  left: calc(50% - 370px);
  overflow: hidden;
}

@media (max-width: 768px) {
  .about-two .circleWrap3 svg {
    width: 220px;
    height: 220px;
    top: calc(69% - 143px);
    left: calc(40% - 80px);
  }
}

.about-two .circleWrap3 .circle-text3 {
  letter-spacing: 1.5px;
  fill: #fff;
  width: 100%;
  font: 90px / 30px times;
}

.circle-three {
  bottom: -53px;
}

.about-three__img-icon-box:before {
  background: var(--thm-primary);
  content: "";
  z-index: -1;
  border-radius: 50%;
  width: 165.184px;
  height: 165.184px;
  position: absolute;
  top: -100px;
  left: -17px;
}

.about-three__img-icon-box .icon {
  background: #011c39;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  display: flex;
  position: relative;
  top: -65px !important;
  left: 20px !important;
}

.circleWrap3 {
  z-index: 10;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.circleWrap3 svg {
  z-index: 10;
  border-radius: 50%;
  width: 235.184px;
  height: 235.184px;
  animation: 15s linear infinite rotate;
  position: absolute;
  bottom: -10px;
  left: -52px;
  overflow: hidden;
}

.circleWrap3 .circle-text3 {
  letter-spacing: 1.5px;
  fill: #000;
  width: 100%;
  font: 90px / 30px times;
}

.accordion-item {
  background-color: #0000;
  border: 0 !important;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  box-shadow: none;
}

.accordion-button:focus {
  z-index: 3;
  box-shadow: none;
  border-color: #0000;
  outline: 0;
}

.accordion-button {
  color: #fff;
  background-color: #fff0;
  padding: 18px 0;
}

.accordion-body span {
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
}

.accordion-body p {
  color: #eaece8;
  font-weight: 500;
}

.accordion-header h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.accordion-one .accordion-body {
  padding: 0 0 16px;
}

.accordion-one .accordion-button:not(.collapsed) {
  background-color: #0000;
}

.accordion-one .accordion-item {
  border-bottom: 1px solid rgba(var(--thm-primary-rgb), .15) !important;
}

.accordion-one .accordion-header span {
  color: #fff;
  font-weight: 800;
}

.accordion-one .accordion-button:after {
  content: "";
  color: #fff;
  background-image: none;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: auto;
  font-family: "Font Awesome 5 Free";
  font-size: 17px;
  font-weight: 600;
  display: flex;
}

.accordion-one .accordion-button:not(.collapsed):after {
  content: "";
  color: #fff;
  background-image: none;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: auto;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 600;
  display: flex;
  transform: rotateX(180deg);
}

.accordion-two .accordion-button {
  padding: 18px 20px;
}

.accordion-two .accordion-button:not(.collapsed) {
  background-color: #2a2a2b;
  border-radius: 6px;
  padding: 13px 20px 12px;
}

.accordion-two .accordion-item {
  border-bottom: 1px solid rgba(var(--thm-white-rgb), .1) !important;
}

.accordion-two .accordion-header span {
  color: #ff5e15;
  font-weight: 800;
}

.accordion-two .accordion-button:after {
  content: "";
  color: #fff;
  background-image: none;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  font-family: icomoon !important;
}

.accordion-two .accordion-button:not(.collapsed):after {
  content: "";
  color: #ff5e15;
  background-image: none;
  font-size: 15px;
  font-weight: 900;
  transform: rotate(180deg);
  font-family: icomoon !important;
}

.accordion-three .accordion-button:not(.collapsed) {
  background-color: #f7f7f7;
}

.accordion-three .accordion-header span {
  color: #ffd550;
}

.accordion-three .accordion-header h2 {
  color: var(--thm-black);
}

.accordion-three .accordion-body p {
  color: #6f7174;
}

.accordion-three .accordion-button:after {
  color: #000;
}

.accordion-three .accordion-button:not(.collapsed):after {
  color: #ffd550;
}

.map-accordion {
  padding: 0 50px 14px;
}

.map-accordion .accordion-body {
  padding: 0 0 22px;
}

.map-accordion .accordion-button {
  padding: 22px 0;
}

.map-accordion .accordion-button:not(.collapsed) {
  background-color: #0000;
  padding: 22px 0;
  font-size: 18px !important;
}

.map-accordion .accordion-button:not(.collapsed):after {
  color: #ff5e15 !important;
  font-size: 18px !important;
}

.map-accordion .accordion-header h2 {
  color: #000;
  font-size: 24px;
}

.map-accordion .accordion-item {
  border-bottom: 1px solid #e7e7e7 !important;
}

.map-accordion .accordion-item:nth-child(3) {
  border: none !important;
}

.map-accordion .accrodion-content p {
  color: #60666c;
  font-weight: 500;
}

.map-accordion .accordion-button:after {
  color: #000 !important;
}

.why-choose-two__progress .count-text {
  opacity: 1;
}

@keyframes fill {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

.count-bar {
  animation: 2s ease-in-out fill;
}

.count-bar-one {
  width: 80%;
  animation: 3s ease-in-out fill-one;
  position: relative;
}

.count-bar-one .count-text {
  opacity: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(48%, -50%);
}

@keyframes fill-one {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.count-bar-two {
  width: 90%;
  animation: 3s ease-in-out fill-two;
  position: relative;
}

.count-bar-two .count-text {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(36%, -50%);
}

@keyframes fill-two {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

.count-bar-three {
  width: 95%;
  animation: 3s ease-in-out fill-three;
  position: relative;
}

.count-bar-three .count-text {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30%, -50%);
}

@keyframes fill-three {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

.testimonials-three__nav {
  gap: 20px;
}

.rangeSlider {
  border-radius: 4px !important;
  height: 10px !important;
  position: relative !important;
}

.rangeSlider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  background-color: #ffd550;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.range-slider {
  width: 100%;
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.slider {
  -webkit-appearance: none;
  background: none;
  outline: none;
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.range-slider-track {
  background-color: #e4e4e4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.range-slider-filled-track {
  background-color: #3182ce;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.range-slider-thumb {
  background-color: #3182ce;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#thumb1 {
  left: 10%;
}

#select-box-home-two .css-1dimb5e-singleValue {
  overflow: visible;
  color: #60666c99 !important;
}

#select-box-home-two .css-1fdsijx-ValueContainer {
  margin-bottom: -9px;
}

#select-box-home-two .css-1jqq78o-placeholder {
  margin-top: -9px !important;
}

#select-box-home-two .css-1dimb5e-singleValue {
  margin-top: -7px;
}

#header-en-container .main-header__language-switcher {
  margin-right: 20px;
  padding-right: 10px;
  display: block;
  position: relative;
  width: 92px !important;
}

#header-en-container .request-services-one--two .select-box .selectmenu, .select-box .selectmenu {
  padding-left: 0;
  padding-right: 0;
}

#header-en-container .css-djlxtq-control, .css-16xggt2-control, .css-llyfrg-control, .css-djlxtq-control {
  box-shadow: none !important;
  border: none !important;
  flex-wrap: nowrap !important;
  font-size: 16px !important;
}

.css-bfkydu-control {
  box-shadow: none !important;
  border: .1px solid #ffd65013 !important;
  flex-wrap: nowrap !important;
  font-size: 16px !important;
}

.css-bfkydu-control:before {
  border-color: #ccc;
}

.css-1b26mtg-control, .css-llyfrg-control:before {
  box-shadow: none !important;
  border: none !important;
}

#header-en-container .request-services-one--two .select-box .selectmenu, .select-box .selectmenu {
  border: none !important;
}

#header-en-container .main-header__language-switcher:before {
  content: "" !important;
  background: #efefef !important;
  width: 2px !important;
  margin: 10px 0 !important;
  position: absolute !important;
  top: 1px !important;
  bottom: 1px !important;
  right: 0 !important;
}

.homethree_testimonial .swiper-pagination-fraction, .homethree_testimonial .swiper-pagination-custom, .homethree_testimonial .swiper-horizontal > .homethree_testimonial.swiper-pagination-bullets, .homethree_testimonial .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 256px !important;
  top: 0 !important;
  left: 0 !important;
}

.homethree_testimonial .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #0000 !important;
  width: 50px !important;
}

.homethree_testimonial .swiper-pagination-bullet-active img {
  border: 2px solid #ffd550;
  border-radius: 50%;
}

.homethree_testimonial .swiper-pagination-clickable .swiper-pagination-bullet {
  opacity: 1;
  cursor: pointer;
  width: 50px;
}

.homethree_testimonial .swiper-pagination-clickable .swiper-pagination-bullet img {
  border-radius: 50%;
}

.homethree_testimonial .swiper-wrapper {
  padding-top: 80px;
}

@media screen and (max-width: 991px) {
  .padding {
    padding: 80px 0 !important;
  }

  .main-slider-one__single {
    padding: 120px 0 80px !important;
  }

  .padding-bottom {
    padding: 0 0 80px !important;
  }

  .padding-top {
    padding: 80px 0 0;
  }

  .margin-top {
    margin-top: 80px !important;
  }

  .working-process-one-responsive {
    padding: 250px 0 120px;
  }

  .faq-padding-top {
    padding-top: 50px;
  }

  .blog-two-padding {
    padding: 80px 0 200px;
  }

  .footer-one--two .footer-main {
    padding: 186px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  .padding {
    padding: 60px 0 !important;
  }

  .main-slider-one__single {
    padding: 120px 0 60px !important;
  }

  .padding-bottom {
    padding: 0 0 60px !important;
  }

  .padding-top {
    padding: 60px 0 0;
  }

  .margin-top {
    margin-top: 60px !important;
  }

  .working-process-one-responsive {
    padding: 240px 0 100px !important;
  }

  .blog-two-padding {
    padding: 60px 0 170px;
  }

  .footer-one--two .footer-main {
    padding: 160px 0 60px;
  }
}

@media (max-width: 768px) {
  .bottom-text-box.extra-responsive {
    display: none !important;
  }

  #blog-cta {
    margin-bottom: 24px !important;
  }
}

.overlay {
  z-index: 98;
  background-color: #00000080;
  display: block;
  position: fixed;
  inset: 0;
}

.disable-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .cta-two.style3 {
    padding-top: 115px !important;
  }

  section.brand-one.brand-one--two.padding {
    padding-top: 140px !important;
    padding-bottom: 140px !important;
  }
}

.cta-two.style3 {
  z-index: 2;
  padding-top: 20px;
  display: block;
  position: relative;
  margin-top: -156px !important;
}

#blog-cta-details {
  margin-bottom: 110px;
}

.fade-right {
  animation: .5s infinite mymove;
  position: relative;
}

@keyframes mymove {
  from {
    opacity: .8;
    left: -15px;
  }

  to {
    opacity: 1;
    left: 0;
  }
}

/*# sourceMappingURL=src_assets_css_react-adjustment_css_bad6b30c._.single.css.map*/