/* [project]/src/assets/css/module-css/testimonial.css [app-client] (css) */
.testimonials-one {
  background: var(--thm-white);
  z-index: 1;
  padding: 120px 0 117px;
  display: block;
  position: relative;
}

.testimonials-one__pattern {
  opacity: .06;
  z-index: -1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}

.testimonials-one .swiper-container {
  padding-left: 1px;
}

.testimonials-one__single {
  z-index: 1;
  margin-bottom: 50px;
  padding-bottom: 51px;
  padding-right: 20px;
  display: block;
  position: relative;
}

.testimonials-one__single .icon-box {
  z-index: 3;
  position: absolute;
  bottom: 20px;
  right: 45px;
}

.testimonials-one__single .icon-box span {
  color: rgba(var(--thm-secondary-rgb), .05);
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  position: relative;
}

.testimonials-one__single:before {
  content: "";
  background: var(--thm-white);
  z-index: -1;
  border-radius: 4px;
  transition: all .2s linear .1s;
  position: absolute;
  inset: 0 20px 0 19px;
}

.testimonials-one__single:after {
  content: "";
  background-color: rgba(var(--thm-secondary-rgb), 1);
  transform-origin: 100% 0;
  z-index: -2;
  border-radius: 4px;
  transition: transform .4s;
  position: absolute;
  inset: 20px 0 -20px 20px;
  transform: scale(1, 0);
}

.testimonials-one__single:hover:after {
  background-color: rgba(var(--thm-secondary-rgb), 1);
  transform-origin: bottom;
  transform: scale(1);
}

.testimonials-one__single .border-left {
  border: 1px solid var(--thm-primary);
  z-index: -3;
  border-radius: 4px;
  transition: all .5s linear .1s;
  position: absolute;
  inset: 40px 40px 0 0;
}

.testimonials-one__single:hover .border-left {
  border-color: var(--thm-secondary);
}

.testimonials-one__single-top {
  z-index: 2;
  align-items: center;
  display: flex;
  position: relative;
}

.testimonials-one__single-top .img-box {
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100px;
  display: block;
  position: relative;
  overflow: hidden;
}

.testimonials-one__single-top .img-box img {
  width: 100%;
  transition: all .6s;
  transform: scale(1);
}

.testimonials-one__single-top .title-box {
  flex: 1;
  margin-left: 30px;
  display: block;
  position: relative;
}

.testimonials-one__single-top .title-box h2 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.testimonials-one__single-top .title-box h2 a {
  color: var(--thm-heading-font-color);
}

.testimonials-one__single-top .title-box h2 a:hover {
  color: var(--thm-primary);
}

.testimonials-one__single-top .title-box p {
  font-weight: 500;
}

.testimonials-one__single-inner {
  z-index: 1;
  padding: 18px 50px 0;
  display: block;
  position: relative;
}

.testimonials-one__single-inner .content-box {
  z-index: 2;
  display: block;
  position: relative;
}

.testimonials-one__single-inner .content-box-top {
  align-items: center;
  margin-bottom: 9px;
  display: flex;
  position: relative;
}

.testimonials-one__single-inner .content-box-top .text-box {
  display: block;
  position: relative;
}

.testimonials-one__single-inner .content-box-top .text-box h3 {
  color: var(--thm-secondary);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.testimonials-one__single-inner .content-box-top .rating-box {
  margin-left: 15px;
  display: block;
  position: relative;
}

.testimonials-one__single-inner .content-box p {
  margin: 0;
  font-weight: 500;
}

#testimonials-one__pagination {
  z-index: 55;
  padding-top: 15px;
  position: relative;
}

#testimonials-one__pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #d0dadc;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  transition: all .2s linear .1s;
  position: relative;
}

#testimonials-one__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--thm-secondary);
}

#testimonials-one__pagination .swiper-pagination-bullet:before {
  border: 1px solid var(--thm-secondary);
  content: "";
  border-radius: 50%;
  transition: all .2s linear .1s;
  position: absolute;
  inset: -6px;
  transform: scaleX(0);
}

#testimonials-one__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before, #testimonials-one__pagination .swiper-pagination-bullet:hover {
  transform: scaleX(1);
}

.testimonials-two {
  z-index: 1;
  padding: 120px 0 0;
  display: block;
  position: relative;
}

.testimonials-two__bg {
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  inset: 0;
}

.testimonials-two__bg:before {
  background: rgba(var(--thm-black-rgb), .9);
  content: "";
  z-index: -2;
  position: absolute;
  inset: 0;
}

.testimonials-two .sec-title-two .sub-title {
  background: rgba(var(--thm-white-rgb), .1);
}

.testimonials-two .sec-title-two h2 {
  color: var(--thm-white);
}

.testimonials-two__single {
  background: var(--thm-white);
  z-index: 1;
  border-radius: 4px;
  padding: 30px 30px 31px;
  display: block;
  position: relative;
}

.testimonials-two__single .quote-icon {
  z-index: -1;
  position: absolute;
  top: 50px;
  right: 40px;
}

.testimonials-two__single .quote-icon span {
  color: rgba(var(--thm-primary-rgb), .06);
  font-size: 35px;
  line-height: 35px;
  transition: all .4s linear .1s;
  display: inline-block;
  position: relative;
}

.testimonials-two__single:hover .quote-icon span {
  color: rgba(var(--thm-primary-rgb), 1);
}

.testimonials-two__single-top {
  align-items: center;
  display: flex;
  position: relative;
}

.testimonials-two__single-top .img-box {
  border-radius: 50%;
  width: 70px;
  display: block;
  position: relative;
  overflow: hidden;
}

.testimonials-two__single-top .img-box img {
  width: 100%;
}

.testimonials-two__single-top .text-box {
  flex: 1;
  margin-left: 20px;
  display: block;
  position: relative;
}

.testimonials-two__single-top .text-box p {
  color: #6f7174;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.testimonials-two__single-top .text-box h3 {
  text-transform: capitalize;
  margin-top: 3px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.testimonials-two__single-bottom {
  margin-top: 29px;
  display: block;
  position: relative;
}

.testimonials-two__single-bottom .rating-box {
  display: block;
}

.testimonials-two__single-bottom .content-box {
  display: block;
  position: relative;
}

.testimonials-two__single-bottom .content-box h3 {
  color: #6f7174;
  text-transform: capitalize;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.testimonials-two__single-bottom .content-box p {
  margin: 0;
}

.testimonials-two .container {
  position: relative;
}

.testimonials-two .swiper-nav-style1 {
  top: 42px;
}

.testimonials-two__wrap {
  z-index: 100;
  position: absolute;
  top: 55px;
  right: 190px;
}

.testimonials-two__wrap .swiper-counter {
  z-index: 9;
  justify-content: space-between;
  align-items: baseline;
  width: 40px;
  display: inline-flex;
  position: relative;
}

.testimonials-two__wrap .swiper-counter div {
  color: var(--thm-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  font-family: var(--thm-heading-font);
  display: inline-block;
  position: relative;
}

.testimonials-two__wrap .swiper-counter div#current3 {
  margin-right: 6px;
}

.testimonials-two__wrap .swiper-counter div#total3 {
  color: #fff6;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-family: var(--thm-heading-font);
  padding-left: 0;
  position: relative;
  top: 15px;
  right: -5px;
}

.testimonials-two__wrap .swiper-counter div#total3:before {
  content: "/";
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  left: -16px;
}

.testimonials-three {
  z-index: 1;
  padding: 120px 0;
  display: block;
  position: relative;
}

.testimonials-three__bg {
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  inset: 0;
}

.testimonials-three__bg:before {
  background: rgba(var(--thm-black-rgb), .9);
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
}

.testimonials-three .sec-title-style3 .sub-title h5 {
  color: var(--thm-primary);
}

.testimonials-three .sec-title-style3 h2 {
  color: var(--thm-white);
}

.testimonials-three__img {
  border-radius: 4px;
  display: block;
  position: relative;
  overflow: hidden;
}

.testimonials-three__img img {
  width: 100%;
}

.testimonials-three__content-box {
  margin-top: 50px;
  margin-left: 70px;
  display: block;
  position: relative;
}

#testimonials-three__thumb {
  width: 330px;
  margin-left: 0;
  padding: 5px;
}

.testimonials-three__thumb-img {
  cursor: pointer;
  width: 60px;
  display: block;
  position: relative;
}

.testimonials-three__thumb-img:before {
  border: 1px solid var(--thm-primary);
  opacity: 0;
  content: "";
  border-radius: 50%;
  transition: all .5s;
  position: absolute;
  inset: -5px;
  transform: scale(.5);
}

.testimonials-three__thumb-img:hover:before, .testimonials-three__content-box .swiper-slide-thumb-active .testimonials-three__thumb-img:before {
  opacity: 1;
  transform: scale(1);
}

.testimonials-three__thumb-img .inner {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  overflow: hidden;
}

.testimonials-three__thumb-img .inner img {
  width: 100%;
}

.testimonials-three__content {
  margin-top: 38px;
  display: block;
  position: relative;
}

.testimonials-three__content-single {
  display: block;
  position: relative;
}

.testimonials-three__content-single-top {
  align-items: center;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.testimonials-three__content-single-top .text {
  display: block;
  position: relative;
}

.testimonials-three__content-single-top .text h3 {
  color: var(--thm-primary);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.testimonials-three__content-single-top .rating-box {
  margin-left: 25px;
  display: block;
  position: relative;
}

.testimonials-three__content-single-top .rating-box a {
  color: var(--thm-primary);
}

.testimonials-three__content-single-bottom {
  display: block;
  position: relative;
}

.testimonials-three__content-single-bottom p {
  color: #eaece8e6;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: var(--thm-heading-font);
  margin-bottom: 29px;
}

.testimonials-three__content-single-bottom h3 {
  color: var(--thm-white);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.testimonials-three__content-single-bottom h3 span {
  color: #eaece8;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: var(--thm-body-font);
}

.testimonials-three__nav {
  z-index: 100;
  align-items: center;
  margin-top: 57px;
  display: flex;
  position: relative;
}

.testimonials-three__nav .swiper-button-next, .testimonials-three__nav .swiper-button-prev {
  color: #000;
  background: var(--thm-white);
  text-align: center;
  z-index: 100;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  font-size: 20px;
  transition: all .5s;
  display: flex;
  position: relative;
}

.testimonials-three__nav .swiper-button-next {
  margin-left: 15px;
}

.testimonials-three__nav .swiper-button-next i, .testimonials-three__nav .swiper-button-prev i {
  font-weight: 700;
}

.testimonials-three__nav .swiper-button-next:hover, .testimonials-three__nav .swiper-button-prev:hover {
  background: var(--thm-primary);
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  left: auto;
  right: 0;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0;
  right: auto;
}

.testimonials-three__nav .swiper-button-next:after, .testimonials-three__nav .swiper-button-prev:after {
  display: none;
}

/*# sourceMappingURL=src_assets_css_module-css_testimonial_css_bad6b30c._.single.css.map*/