:root {
  --thm-primary: #004b83;
  --thm-primary-rgb: 0, 75, 131;
  --thm-heading-font-color: #0d4250;
  --thm-black: #121213;
  --thm-black-rgb: 18, 18, 19;
  --thm-gray-bg: #f7f7f7;
  --thm-gray-bg-rgb: 247, 247, 247;
  --thm-white-rgb: 255, 255, 255;
  --thm-body-font-color: #6f7174;
  --thm-paragraph-color: #6f7174;
}
