.floatingContainer {
  position: fixed;
  bottom: 10%;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 9999;
}

.floatingButton {
  width: 55px;
  height: 55px;
  background: #004a8f; /* Official brand blue */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.floatingButton:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
}
